a {
  text-decoration: none;
  color: #000;
}

.my-form {
  padding: 50px;
}

.incomplete {
  color: blue;
}

.success {
  color: green;
}

.goal-panel {
  border: 1px solid silver;
  padding: 20px;
  margin: 20px;
}

.goal-panel:hover {
  border: 1px solid blue;
}

.goal-panel-row {
  margin-top: 50px;
  border: 1px solid black;
}

.my-form {
  border: 1px solid black;
}
