* {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #FF6978!important;
  padding: 100px;
  height:100vh;
  margin:0;
  /* background-image: -webkit-linear-gradient(60deg, #FF6978 50%, gainsboro 50%); */
}


.my-form {
  display: none;
  padding: 50px;
  z-index: 2;
  position: absolute;
  width: 300px;
  background-color: #000;
  color: #fff;
  top: 0;
  right: 0;
  transition: max-height 2000ms ease-in-out;
}

.show {
  display: block;
  max-height: 999em;
}

.add-button {
  border-radius: 50px;
  background-color: #FF6978;
  border: 1px solid;
  color: #fff;
  padding: 1%;
  width: 200px;
  cursor: pointer;
  letter-spacing: 1px;
}

.add-button:hover {
  background-color: #FF919C;
}

.incomplete {
  color: blue;
}

.success {
  color: green;
}

.goal-panel {
  border: 1px solid silver;
  padding: 20px;
  margin: 20px;
  height: 320px;
}

.goal-delete {
  float: right;
  border: none;
  color: silver;
}

.goal-panel-row {
  margin-top: 50px;
  background-color: FFFCF9;
  padding: 50px;
  border-radius: 10px;
  box-shadow: red 10px 10px;
}

.form-button {
  background-color: #000;
  margin-top: 20px;
  text-align: center;
  padding: 15px;
}

.my-form label {
  letter-spacing: 2px;
  margin-top: 20px;
}

.my-form input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.bottom-column {
  text-align: center;
}

.form-button:hover {
  background-color: #232323;
}
